set surround
set clipboard=unnamed
set multiple-cursors
set showmatch
set hlsearch
set incsearch
set number
highlight LineNr ctermfg=darkyellow

inoremap jj <ESC>
inoremap jk <ESC>
inoremap <C-b> <Esc>^i
inoremap <C-e> <End>
inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-j> <Down>
inoremap <C-k> <Up>

